<div class="container">
  <div class="title1">
    Water's Quest
  </div>
    <div class="img-logo">
        <img src="/assets/question.png" alt="quiz img-logo">
    </div>
    <div class="buttons d-grid gap-2 col-8 mx-auto">
        <button type="button" class="btn btn-secondary" routerLink="info">Instruções</button>
        <button type="button" class="btn btn-dark" routerLink="list">Quiz</button>
    </div>
    <footer class="copyright">Criado com <img src="/assets/heart.png" alt="Coracao"> por
        <a href="https://www.linkedin.com/in/roni-gomes-6778a57a/" target="_blank">Ronan Felipe Gomes - UNISOCIESC</a>
    </footer>
</div>
